# DAY 1

To run each cell give shift+ enter

what python?

    1. high level general purpose programming language
    
Merits:

    1. open source (https://www.python.org/)
    2. platform independent(different OS)
    3. simplicity in coding
    
Why python?

    1. developement in Datascience and AI
    
offical doc : https://docs.python.org/3/

# print statement

In [10]:
print("Hello python!!!")

Hello python!!!

In [11]:
print('Hello python!!!')

Hello python!!!

In [12]:
print('Hello "python"!!!')

Hello "python"!!!

In [13]:
print("Hello 'python'!!!")

Hello 'python'!!!

In [14]:
print("""It is straightforward to create an ordered dictionary 
variant that remembers the order the keys were last inserted. 
If a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:""")

It is straightforward to create an ordered dictionary
variant that remembers the order the keys were last inserted.
If a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:

In [15]:
print('''It is straightforward to create an ordered dictionary 
variant that remembers the order the keys were last inserted. 
If a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:''')

It is straightforward to create an ordered dictionary
variant that remembers the order the keys were last inserted.
If a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:

In [16]:
"""It is straightforward to create an ordered dictionary 
variant that remembers the order the keys were last inserted. 
If a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:"""

'It is straightforward to create an ordered dictionary \nvariant that remembers the order the keys were last inserted. \nIf a new entry overwrites an existing entry, the original insertion position is changed and moved to the end:'

In [17]:
# comments
# comment1
# comment2

In [18]:
#print("hello python", sep="", end="") # function

# keywords and variables

keywords -  reserved words in python
variable - stores the data, allocates the memory, every data that you are storing in variable will have a datatype.

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
#variable - stores the data, allocates the memory, every data that you are storing in variable will have a datatype.
a=10# int
a="ten"# str
type(a)
# dynamically typed programming languague

str

# datatypes

text type: str
number type : int, float, complex (1+2j)
sequence type : list, tuple
mapping type: dict
set type: set
boolean type:bool

In [21]:
x=100
s="string"
y=12.5
b=True

In [22]:
type(x)

int

In [23]:
type(s)

str

In [24]:
type(y)

float

In [25]:
type(b)

bool

In [26]:
a=100
b=200
c="welcome"
d=12.25

In [27]:
print(a)
print(b)
print(c)
print(d)

100
200
welcome
12.25

In [28]:
print(a,b,c,d)

100 200 welcome 12.25

In [29]:
a=100
b=100
c=100
print(a,b,c)

100 100 100

In [30]:
a=b=c=100
print(a,b,c)

100 100 100

In [31]:
a=100
b=200
c=300
print(a,b,c)

100 200 300

In [32]:
a,b,c=100,200,300
print(a,b,c)

100 200 300

In [33]:
a,b=100,200
print(a,b)
a,b=b,a
print(a,b)

100 200
200 100

In [34]:
a,b=100,200
print(b,a)

200 100

In [35]:
a=100
b="welcome"

In [36]:
a

100

In [37]:
b

'welcome'

In [38]:
a

100

In [39]:
a

100

In [40]:
del a

In [41]:
a

NameError: name 'a' is not defined

In [ ]:
a=100

In [ ]:
a

In [ ]:
del a,b

In [ ]:
a

In [ ]:
b

# Operator

1. Arithmetic(+ - * / // %)
2. relational(< > <= >= == !=)
3. logical (and or not)

In [ ]:
a=5
b=2

In [ ]:
a+b

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
a/b#return float

In [ ]:
a//b# quotient value

In [ ]:
a%b # remainder value

In [ ]:
a**b # exponetial value

In [ ]:
#logical operatior # comparision operator
# return boolean value( True or false )
a>b

In [ ]:
a<b

In [ ]:
a>=b# first checks the condition for > and then check conditon for =

In [ ]:
a<=b# first checks the condition for < and then check conditon for =

In [ ]:
a==b

In [ ]:
a!=b

# logical operator
a		b		a and b		a or b	not a
TRUE	TRUE	TRUE		TRUE	FALSE
TRUE	FALSE	FALSE		TRUE	
FALSE	FALSE	TRUE		TRUE	TRUE
FALSE	FALSE	FALSE		FALSE

In [ ]:
a= True
b= False

In [ ]:
a and b

In [ ]:
a or b

In [ ]:
not a

In [ ]:
not b

# Day2

concatenation operator +

In [ ]:
10+10 # addition

In [ ]:
12.25 + 50.75 # addition

In [ ]:
10+12.25 # addition

In [ ]:
"python " + "session" #concatenation

In [ ]:
True + 1 # True = 1

In [ ]:
False +1 # False = 1

In [ ]:
True + True

In [ ]:
False + False

In [ ]:
10 + "python"

In [ ]:
10 + "10"

In [ ]:
10.5 + "python"

In [ ]:
True + "python"

# Formatting the output

In [ ]:
name = "shirly"
company = "TCS"
emp_id = "123456"

In [ ]:
print(name, company, emp_id)

In [ ]:
print(f"Name : {name}\nCompany: {company}\nEmp_id: {emp_id}")

In [ ]:
print("Name : %s\nCompany: %s\nEmp_id: %s" %(name, company, emp_id)) # %d number %s string

In [ ]:
print("Name : {}\nCompany: {}\nEmp_id: {}".format(name, company, emp_id))

In [ ]:
print("Name : {}\nCompany: {}\nEmp_id: {}".format(company, name, emp_id))

Options in print statement
print("hello python", sep="", end="") # function
default value of end is \n

In [ ]:
a="welcome"
b="python!!"

In [ ]:
print(a, b)

In [ ]:
print(a, b, sep="@")

In [ ]:
print(a, b, sep=" to ") # sep=delimiter

In [ ]:
c = "Hello"

In [ ]:
print(a, b, c, sep=" ** ")

In [ ]:
print(a)
print(b)
print(c)

In [ ]:
print(a, end=" ** ")
print(b, end=" ** ")
print(c, end=" ** ")

# print with end option in for loop

# User Input

In [ ]:
a = input()

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
b = input()

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c = input()

In [ ]:
c = input("Enter a number")

# Type Casting

In [ ]:
c = input() # input type default ype is str

In [ ]:
c

In [ ]:
type(c)

In [ ]:
n1=input()
n2=input()

In [ ]:
type(n1)

In [ ]:
type(n2)

In [ ]:
n1+n2 # concat

In [ ]:
int(n1)+int(n2) # string to int

In [ ]:
float(n1)+float(n2) #str to float

In [ ]:
n1=int(input()) #
n2=int(input())
n1+n2

In [ ]:
n1=float(input()) #
n2=float(input())
n1+n2

In [ ]:
a=100
b= "rupees"
a+b

In [ ]:
str(a)+b # int to string

In [ ]:
int('10') # string number to number

In [ ]:
int("shirly")

In [ ]:
bool("True")

In [ ]:
bool(1)

In [ ]:
bool(45)

In [ ]:
bool(-45)

In [ ]:
bool(0)

In [ ]:
bool("string")

In [ ]:
bool()

# Control statement - ctrl the flow of the program
    1. reusage of block
    2. skip block
    3. repeat based on condition

types:

    1. Conditional statement
        1. if
        2. if..else
        3. if..elif..else
        
    2. looping statement
        1. while
        2. for
        
    3. jumping statement
        1. break
        2. continue

# Conditional statement

In [ ]:
# odd or even
a=int(input())

if a%2==1:
    print(f"{a} is odd number")
else:
    print(f"{a} is even number")

In [ ]:
a=True
# True==1
# False==0
if a:
    print("True Block")
    print("True Block")
    print("True Block")
else:
    print("Flase Block")
    print("Flase Block")
    
print("OUTSIDE IF CONDITION")

# Day3

In [ ]:
# ternary operator
a=int(input())
# if a%2==1:
#     print(f"{a} is odd number")
# else:
#     print(f"{a} is even number")


print(f"{a} is odd number") if a%2==1 else print(f"{a} is even number")

In [ ]:
a=int(input())
# if a%2==1:
#     print("Hello python")
#     print(f"{a} is odd number")
# else:
#     print("Hello python")
#     print(f"{a} is even number")


{print("Hello python"),print(f"{a} is odd number")} if a%2==1 else {print("Hello python"),print(f"{a} is even number")}

In [ ]:
# if.. elif..else
# for given week number print week
# 1=sunday
# 2 = monday..
week_no=int(input())
if week_no==1:
    print("sunday")
elif week_no==2:
    print("monday")
elif week_no==3:
    print("tuesday")
elif week_no==4:
    print("wednesday")
elif week_no==5:
    print("thusday")
elif week_no==6:
    print("friday")
elif week_no==7:
    print("saturday")
else:
    print("invalid input")

# Assignments
https://pynative.com/python-exercises-with-solutions/

# 2. looping statement
    1. while
    2. for

In [ ]:
# range func
# range(start=0, end=n-1 , step=1)
range(10) #0 to 10

In [ ]:
list(range(0, 10))

In [ ]:
list(range(10))

In [ ]:
list(range(3,10))

In [ ]:
list(range(3,10,3))

In [ ]:
# negative listing
# descending order
list(range(10,0,-1))

In [ ]:
list(range(10,0,-2))

In [ ]:
list(range(10,5,-2))

# While
    1. initiazile
    2. condition
    3. increment/decrement

In [ ]:
# print 1--10 
# initiazile
a=1
while a<=10: # condition
    print(a, end=" ")
    # increment
    #a=a+1 or 
    a+=1

In [ ]:
# print 10--1(desending) (reverse)
# initiazile
a=10
while a>=1: # condition
    print(a, end=" ")
    # decrement
    #a=a-1 or 
    a-=1

# For loop
# range function always comes with for loop

In [ ]:
# print 1--10 
for i in range(1, 11):
    print(i)

In [ ]:
# print 10--1 
# number line
#-4 -3 -2 -1 0 1 2 3 4 5 6 
for i in range(10, 0, -1):
    print(i)

# 3. jumping statement
    1. break
    2. continue

In [ ]:
# break - break the loop based on cond(if cond)
for i in range(1, 11):
    if i==8:
        break
    print(i)

In [ ]:
# continue - skip the loop based on cond(if cond)
for i in range(1, 11):
    if i==3:
        continue
    print(i)

In [ ]:
for i in range(1, 11):
    if i%3==0:
        continue
    print(i)

text type: str
number type : int, float, complex (1+2j)(optional)
boolean type:bool
scalar = variable will get assigned with single data
    
sequence type : list, tuple
mapping type: dict
set type: set
array/hash = variable will get assigned with mutiple data

In [ ]:
#number type
# 10,20,22,5,4,3,19
max(10,20,22.4,5,4.9,3,19)

In [ ]:
min(10,20,22.4,5,4.9,3,19)

In [ ]:
# string type
# empty string
s=""# or '' or str() # null

In [ ]:
# is strings are mutable? No immutable
# mutable- can change
# immutable - cannot change

In [ ]:
s="welcome" # string an array of bytes
s1="a"
print(s[1])

In [ ]:
str1="string"
str1[3]="o"
print(str1)

In [ ]:
# slicing in string
str2="welcome to python"

In [ ]:
str2[0:7]

In [ ]:
str2[6:8]

In [ ]:
str2[0:8:3]

In [ ]:
str2[7:0:-1]

In [ ]:
str2[::-1]# interview

In [ ]:
for i in str2:
    print(i, end='')

In [ ]:
rev_string= ""
for i in str2: # w # e # l #
   rev_string=i+rev_string # w #2 ew # 3  l+ew lew
print(rev_string)

In [ ]:
len(str2) # count of char in array

In [ ]:
#in/not in operator
str2="welcome to python"
"python" in str2

In [ ]:
"python" not in str2

In [ ]:
# str compare
str1="python"
str2="python"
str1==str2()

In [ ]:
str1!=str2

In [ ]:
# testing the string
s= "123"
s.isalnum()

In [ ]:
s= "hello python"
s.isalnum()

In [ ]:
"string".isalpha()

In [ ]:
"123".isdigit()

In [ ]:
"12sdcdfv3".isdigit()

In [ ]:
"try".isidentifier() # python keyword

In [ ]:
"sWERdhirluok".islower()

In [ ]:
"sWERdhirluok".isupper()

In [ ]:
" ".isspace()

In [ ]:
# searching for substring
s= "hello python"
s.find("python2123")# starting index of string
# -1 not found

In [ ]:
s.count("l") # frequency of the char

In [ ]:
# coverting a string
s="hello python"
s1=s.upper()
print(s)
print(s1)

In [ ]:
s="Hello Python"
s.lower()

In [ ]:
s="Hello Python"
s.swapcase()

In [ ]:
s="Hello Python"
s.capitalize()
print(s)

In [ ]:
s="Hello Python"
s.title()

In [ ]:
s="Hello Python"
s.replace("Python", "Java")
s="Hello Python"
s.replace("on", "in")

In [ ]:
str1="string"
str1[3]="o"
print(str1)

In [ ]:
str1.split("")

In [ ]:
# immutable
str1="welcome"# mem allocation
print(id(str1)) # value of the mem loc
str1=str1+" to python" # mem different mem locator
print(id(str1))

# if the id of the variable is getting changed then that datatype is immutable.

# Collections	

List	|	Tuple		|	Set			|	Dict
Mutable	|	Immutable	|	Mutable		|	Mutable
Ordered	|	Ordered		|	Unordered	|	Unordered
Indexed	|	Indexed		|	Unindexed	|	Unindexed
[]		|	()			|	{}			|	{key:value}

# Day4

# Collections

# List

array VS list
array is collection of homogenous element
list is a collection of homogenous/heterogenous element

list can be an array but array cannot be a list

In [ ]:
# create list
mylist=[10, 20, 30, 40, "apple", "banana", "cherry"]
mylist

In [ ]:
# empy list
mylist1=list() #or []
mylist1

In [ ]:
mylist=["tomato", "onion", "spinach", "panneer", "tofu", "potato", "vannilla"]
mylist[0]

In [ ]:
mylist[-1]

In [ ]:
# range of index
mylist[0:5]

In [ ]:
mylist[::-1]

In [ ]:
# changing item
mylist[-1]="strawberry"
mylist

In [ ]:
# for loop
mylist=["tomato", "onion", "spinach", "panneer"]
for i in mylist:
    print(i)

In [ ]:
# check exeistence of element
"tomato1kgjyg" in mylist

In [ ]:
len(mylist)

In [ ]:
# add new element in list
mylist=["tomato", "onion", "spinach", "panneer"]
#1
mylist.append("chilly")
mylist

In [ ]:
# add new element in list
mylist=["tomato", "onion", "spinach", "panneer"]
print(id(mylist))
#2
mylist.insert(2, "chilly")
print(id(mylist))
mylist

In [ ]:
# remove item from list
mylist=["tomato", "onion", "spinach", "panneer"]
#1
mylist.pop()
mylist

In [ ]:
# remove item from list
mylist=["tomato", "onion", "spinach", "panneer"]
#2
mylist.pop(1)
mylist

In [ ]:
# remove item from list
mylist=["tomato", "onion", "spinach", "panneer"]
#3
del mylist[0]
mylist

In [ ]:
# remove item from list
mylist=["tomato", "onion", "spinach", "panneer"]
#4
del mylist
mylist

In [ ]:
# remove item from list
mylist=["tomato", "onion", "spinach", "panneer"]
#5
mylist.clear()
mylist

In [ ]:
# copy list
mylist1=["tomato", "onion", "spinach", "panneer"]
mylist2=list(mylist1)
print(mylist1, mylist2)

In [ ]:
# copy list
mylist1=["tomato", "onion", "spinach", "panneer"]
mylist2=mylist1.copy()
print(mylist1, mylist2)

In [ ]:
# combine list
# 1
mylist1=["tomato", "onion", "spinach", "panneer"]
mylist2=[1,2,3,4]
mylist1+mylist2

In [ ]:
#2
mylist1=["tomato", "onion", "spinach", "panneer"]
mylist2=[1,2,3,4]
for i in mylist2:
    mylist1.append(i)
mylist1

In [ ]:
# extendting the list
mylist1=["tomato", "onion", "spinach", "panneer"]
mylist2=[1,2,3,4]
mylist1.extend(mylist2)
mylist1

# Tuple

In [ ]:
# create tuple
mytuple=('tomato', 'onion', 'spinach', 'panneer')
mytuple

In [ ]:
# empty tuple
t1=tuple() #or ()
t1

In [ ]:
# access tuple item
mytuple=('tomato', 'onion', 'spinach', 'panneer')
mytuple[0]

In [ ]:
# ranges of index
mytuple[0:3]

# if it is immutable then following will not apply
1 modify
2 append
3 insert
4 remove
5 copy

In [ ]:
# indirect approch to change tuple item
t1=(1,2,3,4,5)
print(id(t1))
l1=list(t1)
l1[2]=300
print("list",l1)
t1=tuple(l1)
print(id(t1))

In [ ]:
# for loop
mytuple=('tomato', 'onion', 'spinach', 'panneer')
for i in mytuple:
    print(i)

In [ ]:
# check the exisitence
"onion" in mytuple

In [ ]:
"onion" not in mytuple

In [ ]:
# length
len(mytuple)

In [ ]:
# copy
mytuple1=('tomato', 'onion', 'spinach', 'panneer')
mytuple2=tuple(mytuple1)
mytuple2

In [ ]:
mytuple1=('tomato', 'onion', 'spinach', 'panneer')
mytuple2=mytuple1.copy()
mytuple2

In [ ]:
mytuple1=('tomato', 'onion', 'spinach', 'panneer')
mytuple2=mytuple1
mytuple2

In [ ]:
# join or combine
mytuple1=('tomato', 'onion', 'spinach', 'panneer')
mytuple2 =(1,2,3,4)
t1 = mytuple1+mytuple2
t1

In [ ]:
mytuple1=('tomato', 'onion', 'spinach', 'panneer')
mytuple2 =(1,2,3,4)
mytuple1.extend(mytuple2)
mytuple1

# Set

In [ ]:
# create set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
myset1

In [ ]:
# empty set
myset2=set()
# myset2={}# dict
myset2
type(myset2)

In [ ]:
 # unordered and unindexed
# access the set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
for i in myset1:
    print(i)
myset1[0]

In [ ]:
# access the set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
for i in myset1:
    if "spinach" == i:
        break
    print(i)

In [ ]:
# duplicate
myset1={'tomato', 'onion', 'spinach', 'panneer', 'tomato', 'onion', 'spinach'}
myset1

In [ ]:
list(myset1)

In [ ]:
# check exist
"tomato" in myset1

In [ ]:
# length
len(myset1)

In [ ]:
# adding the item in set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
myset1.add("kiwi")# adds single item
myset1

In [ ]:
# adding the item in set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
myset1.update({"kiwi", "orange"})# adds multiple item
myset1

In [ ]:
# remove item from set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
myset1.remove("tomato")
#error with non exist elem
myset1.remove("tto")#KeyError

myset1

In [ ]:
# remove item from set
myset1={'tomato', 'onion', 'spinach', 'panneer'}
#myset1.discard("tomato")
myset1.discard("tto")# no error with non exist elem

myset1

In [ ]:
# clear
myset1={'tomato', 'onion', 'spinach', 'panneer'}
myset1.clear()
myset1

In [ ]:
# union
s1={1,2,3,4}
s2={2,3,4,5}
s1.union(s2)

In [ ]:
# intersection
s1={1,2,3,4}
s2={2,3,4,5}
s1.intersection(s2)

In [ ]:
# combine
s1={1,2,3,4}
s2={2,3,4,5}
s1.update(s2)
s1

# Dictionary

based on key and value pair.
key should be unique.
value can be duplicate

key 	value
prod1	100
prod2	200
prod3	100
prod4	400

In [ ]:
# creation 3.11.4
dict1 = {10:12343, 10:1234, 0:1234, 4:123}
dict1

# Day5

In [ ]:
# duplicate key
dict1 = {"a":"apple", "b":"banana", "c":"cherry", "a":"appl1233cre"}
print(dict1)

In [ ]:
dict1["a"]

In [ ]:
# create dict
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1

In [ ]:
# accessing the values
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1["brand"]

In [ ]:
dict1["year"]

In [ ]:
#2 
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1.get("brand")

In [ ]:
dict1.get("model")

In [ ]:
# change values
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1["year"]=2024 # 2024
dict1

In [ ]:
# adding new items
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1["color"]="black"
dict1

In [ ]:
# read the values using for loops
#1
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
for i in dict1:
    print(i)

In [ ]:
#1
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
print(dict1.keys())# list of keys
for i in dict1.keys():
    print(i)

In [ ]:
#2
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
print(dict1.values()) # list of values
for i in dict1.values():
    print(i)

In [ ]:
# 3
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
print(dict1.items())
for key, value in dict1.items():
    print(key, value)
for i, j in dict1.items():
    print(i, j)

In [ ]:
# check the exist
list_keys= dict1.keys()
"brand" in list_keys

In [ ]:
# count
len(dict1)# count of item

In [ ]:
# remove item from dict
# 1
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1.pop("model")
dict1

In [ ]:
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1.popitem()
dict1

In [ ]:
# 2
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
del dict1['model']
dict1

In [ ]:
del dict1
dict1

In [ ]:
# clear dict
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict1.clear()
dict1 # empty

In [ ]:
# creatre empty dict
dict1={}
type(dict1) #dict
dict1

In [ ]:
dict1=dict()
type(dict1) #dict
dict1

In [ ]:
# copy dict
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict2 = dict1.copy()
dict2

In [ ]:
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
dict2 = dict1
dict2

In [ ]:
# update
#change or add new items
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
# change values
dict1.update({"model":"2222"})
dict1

In [ ]:
# update
#change or add new items
dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"}
# new item
dict1.update({"color":"black"})
dict1

In [ ]:
# interview
# how to change key name?

dict1 = {"brand":"Tesla", "model":"1023", "year":"2022"} # key model - modelid
temp_model_value = dict1['model'] # temp var get model value
dict1.pop("model") # delete the key
dict1['modelid'] = temp_model_value # add new item modelid: temp_var
dict1

# https://pynative.com/python-exercises-with-solutions/

# Functions

# Functions
##############
Set of statements can perform tasks
1) function declaration/ creation - no memory allocted
2) function invoke/ call - memory allocated

In [ ]:
# def - pytho keyword for fuction
def myfunc(): # creation
    print("hello")
    
myfunc() # invoke

In [ ]:
# ex2
def myfunc(name): # creation
    print("hello", name)
    
myfunc("python")

In [ ]:
# ex3
def add(a, b): # return addition of 2 number
    return(a+b)
    
var1 = add(10,20)
print(var1)

In [ ]:
# ex3
def add(a, b): # return addition of 2 number
    return(a+b)
    
print(add(10,20))

In [ ]:
# return
def myfunc():
    return
    
print(myfunc())

In [ ]:
# return
def myfunc():
    return 1
    
myfunc()

In [ ]:
# without return
def myfunc():
    i=0
print(myfunc())

In [ ]:
# without return
def myfunc():
    print("hello")
myfunc()

In [ ]:
print(myfunc())

different ways to declare function: (parameters/arguments)
1. No arugument with no return
2. No arugument with return
3. arugument with no return
4. arugument with return

# global vs local
global variable created outside function
local variable created inside function

In [ ]:
global_var=100

def myfunc():
    local_var=200
    print(global_var)
    print(local_var)
myfunc()

In [ ]:
xy=100

def myfunc():
    global xy
    print(xy)
    xy=200
    print(xy)
myfunc()

In [ ]:
x=100
def myfunc(): # changing the global variable
    global x
    print(x)#100
    x=500
    print(x)# 500
    
print(x) # 100
myfunc() # invoke
print(x) # 500 # function changes value from 100 to 500

2 types of arguments or parameter we can pass in function:
##########################################################

1) positional parameter
2) keyword parameter

In [ ]:
def myfunc(i,j):
    print(i,j)
myfunc(10,20) #positional parameter

In [ ]:
myfunc(i=10,j=20)# keyword parameter

In [ ]:
myfunc(j=10,i=20)## keyword parameter

In [ ]:
# default parameter
def myfunc(i,j=10):
    print(i,j)
myfunc(10,20) #positional parameter

In [ ]:
# default parameter
def myfunc(i,j=10):
    print(i,j)
myfunc(10)#positional parameter

In [ ]:
def myfunc(i,j,k):
    print(i,j,k)
myfunc(10,20,30) #positional parameter

In [ ]:
myfunc(i=10,j=20,k=30) #keyword parameter

In [ ]:
myfunc(k=10,j=20,i=30)# jumble keyword parameter

In [ ]:
def myfunc(i,j,k):
    print(i,j,k)
myfunc(10,20,k=30)

In [ ]:
def myfunc(i,j,k):
    print(i,j,k)
myfunc(i=10,20,k=30)# positional argument follows keyword argument

In [ ]:
def myfunc(i,j,k):
    print(i,j,k)
myfunc(10,j=20,30)

In [ ]:
def myfunc(i,j,k):
    print(i,j,k)
myfunc(10,20,i=30)#func() got multiple values for argument 'i'

rule 1: positional argument follows keyword argument
rule 2: myfunc() got multiple values for argument 'i'

# Day6

# OOPS concepts

OOPS concepts:[object oriented programming system]
#################################################
1. python is structured and object oriented
2. it supports oops concepts

OOPS concepts:
1. class
2. object
3. inheritance
4. polymorphism

Class:
1. blueprint or template[attributes or properties][variable or function]
2. logical entity[busniess logic or plan]
3. does not occupy space in memory

object:
1. instance of class
2. will accquire everything[functions and variables] from class
3. multiple object can be created from class
4. objects are independent to each other.
5. physical entity
6. occupy certain space in memory

function vs method
outside/without class - function
inside/with class - method

In [42]:
# class creation and invoke
class myclass: # create class
    print("inside myclass")
    def myfunc(self):
        print("inside myfunc in class")
obj=myclass() # invoke the class create object
obj.myfunc() # access the method use the object

inside myclass
inside myfunc in class

In [ ]:
self:
self represent class name
self is the first parameter/default parameter in class method

In [46]:
# multiple object
class myclass: # create class
    def m1(self, name):
        print("Hello", name)
        
        
obj1=myclass() # invoke the class create object
obj1.m1("scott") # access the method use the object
# in python backend self=myclass<classname> is passed at the time of execution
obj2=myclass() # invoke the class create object
obj2.m1("mary") # access the method use the object
# in python backend self=myclass<classname> is passed at the time of execution
obj3=myclass() # invoke the class create object
obj3.m1("lydia") # access the method use the object
# in python backend self=myclass<classname> is passed at the time of execution

Hello scott
Hello mary
Hello lydia

types of method
1. instance method - method defined inside the class - accessed using object
2. static method - using @staticmethod annotation/ decorator method defined inside the class - accessed only using class name
3. class method - using @classmethod annotation/ decorator method defined inside the class - accessed only using class name
# calling method inside another method use self parameter

In [50]:
class myclass: # create class
    def m1(self, name): # instance method
        print("Hello", name, "from instance method")
    
    @staticmethod
    #def m2(self, name):# static method
    #static method self represent normal parameter
    def m2(name):
        print("Hello", name, "from static method")
        
obj = myclass()# instance of the class - process is call instantiation <create a space on memery>
obj.m1("scott")# instance method self represent class name
obj.m2("scott")# static method self represent normal parameter

Hello scott from instance method
Hello scott from static method

In [55]:
class myclass: # create class
    def m1(self, name): # instance method
        print("Hello", name, "from instance method")
    
    @staticmethod
    #def m2(self, name):# static method
    #static method self represent normal parameter
    def m2(name):
        print("Hello", name, "from static method")
        
    @classmethod
    #classmethod self=cls cls represent class name
    def m3(cls, name):
        print("Hello", name, "from class method")
        
obj = myclass()# instance of the class - process is call instantiation <create a space on memery>
obj.m1("scott")# instance method self represent class name
obj.m2("scott")# static method self represent normal parameter
myclass.m2("scott")
obj.m3("mary")
myclass.m3("scott")

Hello scott from instance method
Hello scott from static method
Hello scott from static method
Hello mary from class method
Hello scott from class method

In [3]:
class student:
    school_name="abc school" # class variable
    
    def __init__(self, name, age):
        self.name=name # constructor parameter to class var
        self.age=age
        
    # instance method
    # self represents cls name
    def display(self):
        print(f"student : {self.name}, age {self.age}, school {self.school_name}")
        
    @classmethod
    # cls represents cls name
    def modify_school(cls, m_school_name):
        cls.school_name=m_school_name
        
    @staticmethod
    def modify_school_static(m_school_name):
        school_name=m_school_name   
        
obj=student("david", 10)
obj.display()
# using class method
obj.modify_school("xyz school")
obj.display()  
# static method
obj.modify_school_static("ijk school")
obj.display()

student : david, age 10, school abc school
student : david, age 10, school xyz school
student : david, age 10, school xyz school

rule: Class/Static method remain same for all the objects you are going to create- bounded to class

3 types of variables in class:
    1. global variable
    2. class variable
    3. local/instance variable

In [59]:
class myclass:
    a, b = 10, 20 # class var
    
    def add(self):
        x,y=100,200 # local / instance variable
        print(f"instance variable: x{x}, y{y}")
        print(f"class variable: a{self.a}, b{self.b}") # self=myclass
        
obj= myclass()
obj.add()

x100, y200
a10, b20

In [60]:
i,j=1,2 # global
class myclass:
    a, b = 10, 20 # class var
    
    def add(self, x, y):# local
        print(f"instance variable: x{x}, y{y}")
        print(f"class variable: a{self.a}, b{self.b}") # self=myclass
        print(f"global variable: i{i}, j{j}")
        
obj= myclass()
obj.add(100, 200)

instance variable: x100, y200
class variable: a10, b20
global variable: i1, j2

In [74]:
a,b=1,2 # global i,j
class myclass:
    a, b = 10, 20 # class var
    
    def add(self,a, b):# local x, y
        print(f"instance variable: x{a}, y{b}")
        print(f"class variable: a{self.a}, b{self.b}") # self=myclass
        print(f"global variable: i{globals()['a']}, j{globals()['b']}")
        
        
obj= myclass()
obj.add(100, 200)

instance variable: x100, y200
class variable: a10, b20
global variable: i1, j2

# constuctor
def __init__(self, a,b):
    pass
will not return any value
takes any parameter
will get invoked at the time of object creation.

In [75]:
class myclass:
    def __init__(self): # default constructor
        print("constrctor method")
        
myclass()

constrctor method

In [77]:
class myclass:
    def __init__(self, a, b):# parameterized constructor 
        print("constrctor method")
        print(a,b)
        
obj = myclass(10, 20) # passing parameter

constrctor method
10 20

In [80]:
class myclass:
    def __init__(self, a, b):
        print("constrctor method")
        print(a,b)
        
    def m1(self, name):
        print("hello", name)
        
obj = myclass(10, 20) # object creation
obj.m1("scott")

constrctor method
10 20
hello scott

In [84]:
# employee class
# # constuctor
# def __init__(self, a,b):
#     pass
# will not return any value
# takes any parameter
# will get invoked at the time of object creation.


class employee:
    def __init__(self, name, eid, sal):
        print(name, eid, sal)
        
    def display(self):
        print(name, eid, sal)
        
obj= employee("scott", 101, 50000)
obj.display()

scott 101 50000

NameError: name 'name' is not defined

In [87]:
# employee class
# # constuctor
# def __init__(self, a,b):
#     pass
# will not return any value
# takes any parameter
# will get invoked at the time of object creation.


class employee:
    def __init__(self, name, eid, sal):
        print(name, eid, sal)
        self.name = name 
        self.eid=eid
        self.salary=sal
        # covnert constructor parameter to class variable
        
    def display(self):
        print(self.name, self.eid, self.salary)
        
    def bonus(self, percentage):
        print((self.salary*percentage)/100)
        
obj= employee("scott", 101, 50000)
obj.display()
obj.bonus(10)
obj= employee("mary", 101, 80000)
obj.display()
obj.bonus(10)

scott 101 50000
scott 101 50000
5000.0
mary 101 80000
mary 101 80000
8000.0

3 . Inheritance
Aquiring all the attributes from one class to another class is called inheritance
class a---> abc (parent/ base/ super)
class a1--->a1b1c1
class b(a)--> xzy abc(child/derived/sub)
using the child class we can access parent classes
https://www.edureka.co/blog/wp-content/uploads/2017/07/Types-of-Inheritance.jpg

In [88]:
# single inheritance
# one child one parent

class parent:
    def m1(self):
        print("this is the method of parent class")
        
class child(parent):
    def m2(self):
        print("this is the method of child class")
        
obj=child()
obj.m1()
obj.m2()

this is the method of parent class
this is the method of child class

In [89]:
# multilevel inheritance
# parent1--parent2--parentn --child
class parent1:
    def m1(self):
        print("this is the method of parent1 class")
        
class parent2(parent1):
    def m2(self):
        print("this is the method of parent2 class")
        
class child(parent2):
    def m3(self):
        print("this is the method of child class")
        
obj=child()
obj.m1()
obj.m2()
obj.m3()

this is the method of parent1 class
this is the method of parent2 class
this is the method of child class

In [91]:
obj=parent2()
obj.m1()
obj.m2()

this is the method of parent1 class
this is the method of parent2 class

In [93]:
# heirarchiel inheritance
# parent having more than one chils
class parent:
    def m1(self):
        print("this is the method of parent class")
        
class child1(parent):
    def m2(self):
        print("this is the method of child1 class")
        
class child2(parent):
    def m3(self):
        print("this is the method of child2 class")
        
obj1=child1()
obj1.m1()
obj1.m2()
obj2=child2()
obj2.m1()
obj2.m3()

this is the method of parent class
this is the method of child1 class
this is the method of child2 class

In [94]:
# multiple inheritance
# onechild multiple parents

class parent1:
    def m1(self):
        print("this is the method of parent1 class")
        
class parent2:
    def m2(self):
        print("this is the method of parent2 class")
        
class child(parent1, parent2):
    def m3(self):
        print("this is the method of child class")
        
obj = child()
obj.m1()
obj.m2()
obj.m3()

this is the method of parent1 class
this is the method of parent2 class
this is the method of child class

In [95]:
# hybrid inheritance
# mix of all types of inheritance
class parent:
    def m1(self):
        print("this is the method of parent class")
        
class child1(parent):
    def m2(self):
        print("this is the method of child1 class")
        
class child2(parent):
    def m3(self):
        print("this is the method of child2 class")
        
class child11(child1, child2):
    def m4(self):
        print("this is the method of child11 class")
        
obj=child11()
obj.m1()
obj.m2()
obj.m3()
obj.m4()

this is the method of parent class
this is the method of child1 class
this is the method of child2 class
this is the method of child11 class

In [97]:
class parent:
    def m1(self):
        print("this is the method of parent class")
        
class parent1:
    def m1(self):
        print("this is the method of parent1 class")

class child(parent, parent1):
    def m1(self):
        print("this is the method of child class")
        
obj=child()
obj.m1()

this is the method of child class

In [102]:
class parent1:
    def m1(self):
        print("this is the method of parent1 class")
        
class parent2:
    def m1(self):
        print("this is the method of parent2 class")

class child(parent2, parent1):
    def m2(self):
        print("this is the method of child class")
        
obj=child()
obj.m1()
#obj.m2()

this is the method of parent2 class

MRO- method resolution order 
# will give proirity to child
# take the order that we pass in parameter

In [106]:
class parent1:
    def m1(self):
        print("this is the method of parent1 class")
        
class parent2:
    def m1(self):
        print("this is the method of parent2 class")

class child(parent2, parent1):
    def m1(self):
        print("this is the method of child class")
        # call parent method explicity
        parent1.m1(self) # calling method inside another method use self parameter
        parent2.m1(self)
        
obj=child()
obj.m1()
#obj.m2()

this is the method of child class
this is the method of parent1 class
this is the method of parent2 class

In [107]:
class parent1:
    def m1(self):
        print("this is the method of parent1 class")
        
class parent2:
    def m1(self):
        print("this is the method of parent2 class")

class child(parent2, parent1):
    def m1(self):
        print("this is the method of child class")
        # call parent method using super class
        super().m1() # super()=parent class 
        
obj=child()
obj.m1()
#obj.m2()

this is the method of child class
this is the method of parent2 class

# 4. polymorpism

1. overriding(methods or function)
2. overloading(parameter)

In [108]:
# overriding # overwiting the function
# multiple functions using sigle name

def func1():
    print("func1")
    
def func1():
    print("func1 again")
    
func1() # no overriding concept in python

func1 again

In [109]:
class A:
    def m1(self):
        print("this is the method1 of A class")
        
    def m1(self):
        print("this is the method1 of A class again")
        
obj=A()
obj.m1()# no overriding concept in python

this is the method1 of A class again

In [113]:
# overloading
len([1,2,3,4,123434])
len((1,2,3,4))
len("string")

6

In [114]:
def add(a,b):
    print(a+b)
    
def add(a,b,c,d):
    print(a+b+c+d)
    
add(10,20)

TypeError: add() missing 2 required positional arguments: 'c' and 'd'

In [117]:
def add(a,b):
    print(a+b)
    
def add(a=0,b=0,c=0,d=0): # indirect method for method overloading
    print(a+b+c+d)
    
add(10,20,10,20)

60

In [120]:
def add(*args): # positional parameter
    print(args) # returning all parameters in tuple
    sum =0
    for i in args:
        sum = sum + i
    print(sum)
    
add(10,20,30,40,50,1,2,3,4)

(10, 20, 30, 40, 50, 1, 2, 3, 4)
160

In [126]:
def add(**kargs): # keyword parameter
    print(kargs) # returning all parameters in dict
    sum =0
    for i in kargs.values():
        sum = sum + i
    print(sum)
add(x=10,a=20,b=30,c=40,d=50,e=1,f=2,g=3,h=4)

{'x': 10, 'a': 20, 'b': 30, 'c': 40, 'd': 50, 'e': 1, 'f': 2, 'g': 3, 'h': 4}
160

In [4]:
# interview
# palindrome
# fibnocci
# primenumber
# sorting without using in build ()
# remove duplicate

# Day7

# Error or exception
# Exception handling

In [5]:
print(aa)#NameError

NameError: name 'aa' is not defined

In [6]:
if 1>2# SyntaxError: 
 print(False)

SyntaxError: expected ':' (1222575477.py, line 1)

In [7]:
print(1/0) # ZeroDivisionError

ZeroDivisionError: division by zero

In [8]:
a=10
b="string"
a+b#TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [16]:
print("statement1")
print("statement1")
print("statement1")
print("statement1")
print("statement1")
print(1/0)
print("statement2")
print("statement2")
print("statement2")
print("statement2")

statement1
statement1
statement1
statement1
statement1

ZeroDivisionError: division by zero

In [18]:
# try ...except
print("statement1")
print("statement1")
try:
    #print(1/0)# ZeroDivisionError
    a=10
    b="string"
    print(a+b)
except:
    print("exception caught")
print("statement2")
print("statement2")

statement1
statement1
exception caught
statement2
statement2

In [22]:
# try ...except
print("statement1")
print("statement1")
try:
    print(1/0)# ZeroDivisionError
    #a=10
    #b="string"
    #print(a+b)
except Exception as var:# keyword will catch all types of exception
    print("exception caught")
    print(var)
print("statement2")
print("statement2")

statement1
statement1
exception caught
division by zero
statement2
statement2

In [31]:
# example2
print("statement1")
print("statement1")
try:
    #print(1/0)# ZeroDivisionError
    #a=10
    #b="string"
    #print(a+b)
    print(aa)#NameError
except ZeroDivisionError as var:# keyword will catch all types of exception
    print("ZeroDivisionError caught !!!")
    print(var)
except TypeError as var:
    print("TypeError caught !!!")
    print(var)
except Exception as var:
    print("some exception caught !!! please check")
    print(var)
print("statement2")
print("statement2")

statement1
statement1
some exception caught !!! please check
name 'aa' is not defined
statement2
statement2

In [32]:
# except - exceted when error happens in try block
# else - executed when no error happens in try block
# finally - executed always
# else and finally block are optional

In [33]:
try:
    #aa=5
    print(aa)#NameError
except Exception as var:
    print("NameError caught !!! please check")
    print(var)
else:
    print("no exception caught")
finally:
    print("always executed")

NameError caught !!! please check
name 'aa' is not defined
always executed

In [34]:
try:
    aa=5
    print(aa)#NameError
except Exception as var:
    print("NameError caught !!! please check")
    print(var)
else:
    print("no exception caught")
finally:
    print("always executed") # revert default value, cleanup

5
no exception caught
always executed

In [35]:
# user induced exception
# 1. raise - raise the different types exception
# 2. assert - raise only assertionerror based on condition

# user induced exception

In [37]:
#raise #raise the different types exception
raise ZeroDivisionError("hello this is raised by shirly")

ZeroDivisionError: hello this is raised by shirly

In [38]:
raise FloatingPointError("hello this is raised by shirly")

FloatingPointError: hello this is raised by shirly

In [39]:
raise Exception("hello this is raised by shirly")

Exception: hello this is raised by shirly

In [40]:
# assert
assert True

In [42]:
assert False, ("this is assertion error raised by shirly")

AssertionError: this is assertion error raised by shirly

In [50]:
# example even= True odd= false
num=11
if num%2==0:
    print("EVEN!!!")
elif num%2!=0:
    raise AssertionError("number is not even!!!")

AssertionError: number is not even!!!

In [46]:
num=11
assert num%2==0, ("number is not even!!!")

AssertionError: number is not even!!!

In [57]:
try:
    num=11
    if num%2==0:
        print("EVEN!!!")
    elif num%2!=0:
        raise BaseException("number is not even!!!")
        
except BaseException as msg:
    print(msg)

number is not even!!!

In [59]:
try:
    num=11
    assert num%2==0, ("number is not even!!!")
        
except AssertionError as msg:
    print(msg)

number is not even!!!

# Filehandling
# mode - write, read, append
# default read

In [63]:
# write data
# if no file exsit it will craete a file
# overwrite the content in file
fh = open("text1.txt", "w")
fh.write("this is statement 1\n")
fh.write("this is statement 2\n")
fh.write("this is statement 3\n")
fh.close()# saves the file

In [64]:
# append data
# if no file exsit it will craete a file and write the data
# if file exsit it will append the content in file
fh = open("text1.txt", "a")
fh.write("this is statement 4\n")
fh.write("this is statement 5\n")
fh.write("this is statement 6\n")
fh.close()# saves the file

In [65]:
# append data
# if no file exsit it will craete a file and write the data
# if file exsit it will append the content in file
fh = open("text2.txt", "a")
fh.write("this is statement 4\n")
fh.write("this is statement 5\n")
fh.write("this is statement 6\n")
fh.close()# saves the file

In [66]:
# reading the data # default mode
# no file exsiste#FileNotFoundError
fh = open("text3.txt", "r")
fh.read()

FileNotFoundError: [Errno 2] No such file or directory: 'text3.txt'

In [74]:
# reading the data # default mode
# file exsiste
fh = open("text1.txt")
var = fh.read() # string # whole content
print(var)
print(type(var))

this is statement 1
this is statement 2
this is statement 3
this is statement 4
this is statement 5
this is statement 6

<class 'str'>

In [79]:
fh = open("text1.txt")
print(fh.readline()) #first line
print(fh.readline()) # 2nd line
print(fh.readline()) # 3rd line
print(fh.readline()) # 4nd line
print(fh.readline()) # 5nd line
print(fh.readline()) # 6nd line
print(fh.readline()) # 7nd line
print(fh.readline()) # 7nd line

this is statement 1

this is statement 2

this is statement 3

this is statement 4

this is statement 5

this is statement 6

In [80]:
fh = open("text1.txt")
print(fh.readlines()) # list

['this is statement 1\n', 'this is statement 2\n', 'this is statement 3\n', 'this is statement 4\n', 'this is statement 5\n', 'this is statement 6\n']

# with

In [81]:
# fh = open("text1.txt", "a")
with open("text2.txt", "a") as fh:
    fh.write("this is statement 7\n")
    fh.write("this is statement 8\n")
    fh.write("this is statement 9\n")
#fh.close() # with keyword automatically saves the file

In [82]:
with open("text2.txt", "r") as fh:
    print(fh.read())

this is statement 4
this is statement 5
this is statement 6
this is statement 7
this is statement 8
this is statement 9

In [87]:
# reverse every line using file handling
with open("text2.txt", "r") as reader:
    lines = reader.readlines()
    
print(lines)
for line in lines:
    with open("text3_reverse.txt", "a") as writer:
        writer.write(line[::-1])

['this is statement 4\n', 'this is statement 5\n', 'this is statement 6\n', 'this is statement 7\n', 'this is statement 8\n', 'this is statement 9\n']